	<footer class="row">
		<div class="row">
			{{ widgets:area slug="footer" }}
		</div>
		<div class="row">
			<div class="eight columns">
				<p>&copy;2014 - {{ helper:date format="Y" }} por {{ settings:site_name }}. Todos los derechos reservados.</p>
			</div>
			<div class="four columns" id="social-icons">
				<a href="#"><i class="icon-facebook-circled"></i></a>
				<a href="#"><i class="icon-twitter-circled"></i></a>
				<a href="#"><i class="icon-pinterest-circled"></i></a>
			</div>
		</div>
		<div class="row">
			{{ navigation:links group="footer" }}
		</div>
	</footer>

	<!-- Grab Google CDN's jQuery, fall back to local if offline -->
	<!-- 2.0 for modern browsers, 1.10 for .oldie -->
	<script>
		var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
		if(!oldieCheck) {
			document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
		} else {
			document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
		}
	</script>
	<script>
		if(!window.jQuery) {
			if(!oldieCheck) {
				document.write('<script src="{{ theme:js_path file="libs/jquery-2.0.2.min.js" }}<\/script>');
			} else {
				document.write('<script src="{{ theme:js_path file="libs/jquery-1.10.1.min.js" }}<\/script>');
			}
		}
	</script>

	<!--
	Include gumby.js followed by UI modules followed by gumby.init.js
	Or concatenate and minify into a single file -->
	{{ theme:js file="libs/gumby.js" }}
	{{ theme:js file="libs/ui/gumby.retina.js" }}
	{{ theme:js file="libs/ui/gumby.fixed.js" }}
	{{ theme:js file="libs/ui/gumby.skiplink.js" }}
	{{ theme:js file="libs/ui/gumby.toggleswitch.js" }}
	{{ theme:js file="libs/ui/gumby.checkbox.js" }}
	{{ theme:js file="libs/ui/gumby.radiobtn.js" }}
	{{ theme:js file="libs/ui/gumby.tabs.js" }}
	{{ theme:js file="libs/ui/gumby.navbar.js" }}
	{{ theme:js file="libs/ui/jquery.validation.js" }}
	{{ theme:js file="libs/gumby.init.js" }}

	<!--
	Google's recommended deferred loading of JS
	gumby.min.js contains gumby.js, all UI modules and gumby.init.js

	Note: If you opt to use this method of defered loading,
	ensure that any javascript essential to the initial
	display of the page is included separately in a normal
	script tag.

	<script type="text/javascript">
		function downloadJSAtOnload() {
			var element = document.createElement("script");
			element.src = "js/libs/gumby.min.js";
			document.body.appendChild(element);
		}

		if (window.addEventListener)
			window.addEventListener("load", downloadJSAtOnload, false);
		else if (window.attachEvent)
			window.attachEvent("onload", downloadJSAtOnload);
		else window.onload = downloadJSAtOnload;
	</script> -->

	{{ theme:js file="plugins.js" }}
	{{ theme:js file="main.js" }}
	{{ theme:js file="holder.js" }}

	{{ integration:analytics }}

	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

  </body>
</html>
