{{ theme:partial name="header" }}
	
	<div class="navbar metro" id="main-nav">
		<div class="row">
			<!-- Toggle for mobile navigation, targeting the <ul> -->
			<a class="toggle" gumby-trigger="#main-nav > ul" href="#"><i class="icon-menu"></i></a>
			<h1 class="four columns logo">
				<a href="#">{{ theme:image file="logo.png" }}</a>
			</h1>
			<ul class="eight columns">
				{{ navigation:links group="header" }}
			</ul>
		</div>
	</div>

	<div class="row">

		<!-- content -->
		<section id="content">
			{{ template:body }}
		</section>
		<!-- /content -->

	</div>

{{ theme:partial name="footer" }}